{% extends "user/index.html" %}
{% load crispy_forms_tags %}

{% block start %}
<style>
    h1 {
        text-align: center;
    }

    .content-section {
        margin: 4%;
        padding: 10%;
        border: 1px solid black;
        border-radius: 1%;
    }

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .login-form {
        width: 100%;
        max-width: 400px;
        padding: 2%;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .login-form button {
        background: lightgray;
        font-size: 2rem;
        padding: 1%;
    }

    .login-form a {
        text-decoration: none;
        color: blue;
        padding: 2%;
        cursor: pointer;
        margin-right: 2%;
    }
</style>

<h1>Login</h1>
<div class="form-container">
    <div class="content-section col-md-8 col-md-offset-2">
        <form method="POST" class="login-form">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <button class="btn btn-outline-info" type="submit">
                <span class="glyphicon glyphicon-log-in"></span> &nbsp; Login
            </button>
            <br />
            <sub style="text-align: left;">
                <a href="{% url 'register' %}">Don't have an account? Sign up</a>
            </sub>
        </form>
    </div>
</div>

{% endblock %}
